*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.bg{
    max-width: 40%;
    height:100vh;
    background-image: url(https://wallpapercave.com/wp/wp5838588.jpg);
    background-position:top;
    background-size:cover;
    border-color: black;
    }
.container{
    display:flex;
    
    
}
.bg-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    
    gap: 10px;
    width:100%;
}
.bg-logo img{
    opacity: 1;
    width:30%;
    height:40%;
    border-radius:10PX 40PX 30PX 40PX; 
}
.bg-logo p{
    color:white;
    font-size: 3rem;
}
.main{
    display: flex;
    flex-direction:column;
    align-items: center ;
    width:100%;
    height: 100vh;
    gap:10%;
    background-color: rgb(78, 78, 77);
}
.main>.text{
    margin-top: 20%;
    font-weight: 100;
    font-size:x-large;
    max-width: 70%;
    max-height: 40%;
}
.form{
    width: inherit;
    background-color: rgb(125, 133, 133);
    max-height: 100%;
    padding: 20px 0;
}
form{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 15%;
    flex-wrap: wrap;
    max-width:500px;
    gap:30px;
}
input{
    padding: 5px;
    border-radius: 10px;
}
input{
    border:2px solid black;
}

input:valid{
    border:2px solid greenyellow;
}
input:invalid{
    border: 2px solid red;
}
.end{
     margin-top: 40px;
}